@import "variables";

// http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/
@mixin media-query($screen-break, $direction) {
  $rem-size: $screen-break / $src-font-size-base;

  $break-size: $rem-size * 1em;

  // https://app.asana.com/0/10235149247655/112319908245368
  /*$break-size hack: force large media query*/
  @media only screen and (#{$direction}-width: $break-size) {
    @content;
  }
}

@mixin at-least-small {
  @include media-query($src-screen-sm, 'min') {
    @content;
  }
}

@mixin at-least-xs {
  @include media-query($src-screen-xs-max, 'max') {
    @content;
  }
}

@function calculate-rem($pixel-size) {
  $rem-size: $pixel-size / $src-font-size-base;
  @return $rem-size * 1rem;
}

@mixin font-size($pixel-size) {
  // http: //zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/

  //noinspection CssOverwrittenProperties
  font-size: $pixel-size;
  //noinspection CssOverwrittenProperties
  font-size: calculate-rem($pixel-size);
}

@mixin no-col-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
